#version: "3.9"

services:
  npm:
    image: jc21/nginx-proxy-manager:latest
    container_name: nginx-proxy-manager
    ports:
      - "80:80"
      - "81:81"    # panel admina
      - "443:443"
    volumes:
      - ./npm/data:/data
      - ./npm/letsencrypt:/etc/letsencrypt
    networks:
      - przyczepki-network
    restart: unless-stopped

  przyczepki-web:
    container_name: przyczepki-landing-page
#    image: wilczynski87/przyczepki-web:latest
    build:
      context: .
      dockerfile: Dockerfile
    image: przyczepki-web
    environment:
      - TZ=Europe/Warsaw
      - APP_ENV=dev
    networks:
      - przyczepki-network
    restart: unless-stopped
    ports:
      - "80:80"

  przyczepki-api:
#    image: wilczynski87/przyczepki-api:latest
    build:
      context: .
      dockerfile: server/DockerfileServer
    image: przyczepki-api
    container_name: przyczepki-api
    environment:
      - TZ=Europe/Warsaw
      - MONGO_URI=mongodb://admin:admin@przyczepki-db:27017/przyczepki?authSource=admin
    networks:
      - przyczepki-network
    restart: unless-stopped
    depends_on:
      - przyczepki-db
#    ports:
#      - "8090:8090"

  przyczepki-db:
    image: mongo
    container_name: przyczepki-db
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin
    ports:
      - "27017:27017"

networks:
  przyczepki-network:
    driver: bridge