version: "3.9"

services:
  npm:
    image: jc21/nginx-proxy-manager:latest
    container_name: nginx-proxy-manager
    ports:
      - "80:80"
      - "81:81"    # panel admina
      - "443:443"
    volumes:
      - ./npm/data:/data
      - ./npm/letsencrypt:/etc/letsencrypt
    networks:
      - przyczepki-network
    restart: unless-stopped

  przyczepki-web:
    container_name: przyczepki-landing-page
    build:
      context: .
      dockerfile: Dockerfile
    image: przyczepki-web:local
    environment:
      - TZ=Europe/Warsaw
    networks:
      - przyczepki-network
    restart: unless-stopped

networks:
  przyczepki-network:
    driver: bridge