name: Deploy Przyczepki Landing Page

on:
  push:
    branches:
      - master  # zmiany w branchu main będą deployowane

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Pobranie kodu z repo
      - name: Checkout code
        uses: actions/checkout@v4

      # 2️⃣ Ustawienie SSH agent z kluczem
      - name: Set up SSH
        uses: webfactory/ssh-agent@v0.9.1
        with:
          ssh-private-key: ${{ secrets.PRZYCZEPKI_WEB }}

      - name: Deploy to VPS
        run: |
          ssh -o StrictHostKeyChecking=no root@87.106.116.143 "
            # jeśli katalog nie istnieje, stwórz
            mkdir -p /przyczepki-landing-page
            cd /przyczepki-landing-page
          
            # jeśli repo nie jest sklonowane, sklonuj
            if [ ! -d .git ]; then
              git clone https://github.com/wilczynski87/PrzyczepkiLandingPage.git .
            else
              git pull origin master
            fi
          
            # Docker Compose
            docker compose build --pull przyczepki-web
            docker compose up -d przyczepki-web
          "

